.navy1022{
    display: flex;
    justify-content: right;
    text-align: right;
    padding-bottom: 2px;
    /* padding-top: 2px ; */
    margin-top: -0px;
  
}    
.logo10{
    display: flex;
    align-items: center;
    justify-content: center;}
.name10{
    display: flex;
    font-size: 16cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}
.me-auto10{
    display: flex;
    justify-content: left;
}
.signbutton1010{
   margin-right: 2px;
   display: flex;
   justify-content: right;
   flex-direction: row;
   align-items: end;
   /* margin-top: 1vh; */
   margin-top: 0vw;
   
}
.b210{
    margin-left: 10px;
}

.b110:hover{
    transform: scale(1.2);
}
.b210:hover{
    background-color: rgb(3, 83, 40);
}
.sy{
    padding-left: 30vw;
    /* margin-bottom: 1vh; */
    font-size: large;
    font-style:italic ;
    margin-left: 2vw;
    margin-top: -80px;
}
