.navy{
    display: flex;
    justify-content: right;
    text-align: right;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 2px;
  
}    
.logo{
    display: flex;
    align-items: center;
    justify-content: center;}
.name{
    display: flex;
    font-size: 16cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}
.me-auto{
    display: flex;
    justify-content: left;
}
.signbutton{
   margin-right: -3vw !important;
   margin-top: 5px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: end;
   margin-top: 1vh;
   
}
.b1{
    padding-right: 2vh;
}
.b3{
    padding-left: 2vh;
}

.b1:hover{
    transform: scale(1.1);
}
.b2:hover{
    transform: scale(1.1);
}
.b3:hover{
    transform: scale(1.1);
}
@media (max-width:1000px){
    .navy{
        margin-top: 170vw!important;
    }
    .signbutton{
        margin-right: 50vw;
        margin-top: 5px;
     }
    
    }
