.navy{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 2px;
    margin-top: 2px;
    
}    
.logo{
    display: flex;
    align-items: center;
    justify-content: center;}
.name{
    display: flex;
    font-size: 16cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}
.me-auto{
    display: flex;
    justify-content: left;
}
.signbutton{
   margin-right: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
    justify-content: space-between;
   
   
}
.b1{
    padding-right: 2vh;
}

.b1:hover{
    transform: scale(1.2);
}
.b2:hover{
    transform: scale(1.2);
}
.btn1001{
    margin-top: 30px;
    
}
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.p2{   
    display: flex;
    flex-direction: row;
    width: 6vw;
    height: 6vh;
    padding-left: 1vw;
    vertical-align: middle;
    border-radius: 4% ;
}
.but{
 width: 8vw;
 height: 4vh;
 padding-bottom: 3vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: bold;
}
.but:hover{
    transform: scale(1.1);
}
.jii12{
    border-radius: 1.5rem;
}