.hh331{
    margin-top: 14vh;
    margin-bottom: 12vh;
}
/* .hh1{
    background-image: url("https://media.istockphoto.com/id/1323143709/vector/background-curve-water-color-green.jpg?s=612x612&w=0&k=20&c=VriUkXz_liT0O7ZQ7r7GEwBKgmK-1ib-WTQP0Daxzcs=");
    background-size: cover; 
    background-repeat: no-repeat;
} */